.app-component {
  padding: 4%;
  z-index:1;
}

main {
  height: 100%;
}

#rescale_screen{
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
}

.main_container{
  width:100%;
  height:100%;
  overflow-y:auto;
  background-color: var(--background);
}

.inner_main_container{
  width:100%;
  margin-top:64px;
  margin-bottom:64px;
  float:left;
}

.header{
  width:100%;
  position:fixed;
  left:0;
  top:0;
  z-index:2;
  transition:all 0.2s ease-in-out;
}

.footer{
  width:100%;
  position:fixed;
  left:0;
  bottom:0;
  z-index:2;
  transition:all 0.2s ease-in-out;
}

.rescale_overlay{
  width:180px;
  height:50px;
  border-radius:25px 25px 25px 25px;
  background-color:var(--surface);
  position:fixed;
  left:10px;
  top:-100px;
  z-index:2;
  display:none;
  box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  transition:all 0.2s ease-in-out;
}

.rescale_overlay>button{
  margin-top:5px;
}

.rescale_overlay mat-icon{
  color:var(--on-surface);
}

.rescale_overlay>button:first-child{
  margin-left:10px;
}
