.fab-extended {
  width: 75%;
  height: 40px;
  border-radius: 32px;
  margin: 10% 0 10% 0;
  font-size: large;
  background-color:var(--primary);
  color: var(--on-primary);
}

.add {
  transform: scale(1.4);
  padding-right: 5px;
  padding-left: 5px;
  color: var(--on-primary);
}

#new_session-button:focus {
  background: var(--on-surface);
  color: var(--background);
}
